<%= form_with(model: faction, local: true) do |form| %>
  <% if faction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(faction.errors.count, "error") %> prohibited this faction from being saved:</h2>

      <ul>
      <% faction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :faction_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :faction_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
