<p id="notice"><%= notice %></p>

<h1>Characters</h1>
<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Race</th>
      <th>Gender</th>
      <th>Birth date</th>
      <th>Death date</th>
      <th>Faction</th>
      <th>Birth location</th>
      <th>Bio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= character.name %></td>
        <td><%= character.age %></td>
        <td><%= character.race.name %></td>
        <td><%= character.gender.name %></td>
        <td><%= character.birth_date %></td>
        <td><%= character.death_date %></td>
        <td><%= character.faction.name %></td>
        <td><%= character.birth_location %></td>
        <td><%= character.bio %></td>
        <% if can? :update, character %>
          <p><%= link_to 'Show', character %></p>
          <p><%= link_to 'Edit', edit_character_path(character) %></p>
          <p><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
-->
<br>

  
<% if can? :create, Character %>
<%= link_to 'New Character', new_character_path %>
<% end %> 


  <% @characters.each do |character| %>
    <div class="card" style="width: 20rem;">
      
      <div class="card-body">
        <h3 class="card-title">Name: <%= character.name %></h3>
        <h4 class="card-title">Age: <%= character.age %></h4>
        <h4 class="card-title">Race: <%= character.race.name %></h4>
        <h4 class="card-title">Gender: <%= character.gender.name %></h4>
        <p class="card-text"><%= character.bio %></p>
        <% if can? :update, character %>
          <p><%= link_to 'Show', character %><%= link_to 'Edit', edit_character_path(character) %><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <% end %>
      </div>
    </div>
  <% end %>


      
    