<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @character.age %>
</p>

<p>
  <strong>Race:</strong>
  <%= @character.race.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @character.gender.name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @character.birth_date %>
</p>

<p>
  <strong>Death date:</strong>
  <%= @character.death_date %>
</p>

<p>
  <strong>Faction:</strong>
  <%= @character.faction.name %>
</p>

<p>
  <strong>Birth location:</strong>
  <%= @character.birth_location %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @character.bio %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
